@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Font';
  /* src: url('./fonts/YsabeauSC-VariableFont_wght.ttf'); */
  src: url('./fonts/MPLUSCodeLatin-VariableFont_wdth\,wght.ttf');
}

body {
  font-family: 'Font';
}

* {
  text-decoration: none;
  list-style: none;
  background-color:white;
}

.logo {
  height: 3em;
  /* Match the height of the text */
  width: auto;
  /* Maintain the aspect ratio */
  display: inline-block;
  /* Ensure the image is inline */
  vertical-align: middle;
  /* Align the image vertically in the middle */
}

